
#deployed-p1,
#deployed-com {
    display: none;
    flex-direction: column;
}

#shipDamaged,
#shipDamage-com {
    background-color: blue;
    background-image: linear-gradient(to right, blue 90%, red 10%);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
}


/* Ships stat displays - may consider moving to a separate style sheet*/

.p1Ship, .comShip {
    width: 15vw;
    margin: 1.5em;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 5px;
    border: 2px black;
}

.stats {
    display: flex;
    
}

.life {
    border-radius: 100%;
    border: .1em solid black;
    height: 1.5em;
    width: 1.5em;
    background: lightseagreen;
}

.damaged {
    border-radius: 50%;
    border: 1px solid black;
    height: 2vh;
    width: 2vw;
    background: red;
}

#p1-stat-C, #p1-stat-B, #p1-stat-D, #p1-stat-S, #p1-stat-P {
    display: flex;
    justify-content: space-around;

}

#p1-C, #p1-B, #p1-S, #p1-D, #p1-P   {
    text-align: center;
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
}

#p1-C {
    background-image: url('../images/carrier.png');
    background-size: 75%;
}

#p1-B {
    background-image: url('../images/battleship.png');
    background-size: 100%;
}

#p1-S {
    background-image: url('../images/submarine.png');
    background-size: 100%;
}

#p1-D {
    background-image: url('../images/destroyer.png');
    background-size: 100%;
}

#p1-P {
    background-image: url('../images/patrol.png');
    background-size: 50%;
}


