
#deployed-p1,
#deployed-com {
    display: none;
    flex-direction: column;
}

#shipDamaged,
#shipDamage-com {
    background-color: blue;
    background-image: linear-gradient(to right, blue 90%, red 10%);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
}


/* Ships stat displays - may consider moving to a separate style sheet*/

.p1Ship {
    width: 15vw;
    margin: 1.5em;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 5px;
    border: 2px black;
}

.stats {
    display: flex;
    
}

.life {
    border-radius: 90%;
    border: 1px solid black;
    height: 2vh;
    width: 2vw;
    background: lightseagreen;
}

.damaged {
    border-radius: 90%;
    border: 1px solid black;
    height: 2vh;
    width: 2vw;
    background: red;
}