#winner,
#loser {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: lightgray;
    border-radius: 10%;
    position: fixed;
    top: 30%;
    left: 30%;
    height: 35vh;
    width: 35vw;
}
.resetBtn {
    font-size: 1em;
    border-radius: 10%;
    margin: .5em;
}
