#container-p1,
#container-p2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 50vh;
    height: 50vh;
    gap: 0;
    border: 2px solid black;
}

#container-p1 .cell,
#container-p2 .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
}