#comConsole,
#p1Console {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#container-p1,
#container-p2 {
    position: relative;
    display: grid;
    width: 70vh;
    height: 70vh;
    gap: 0;
    border: 4px solid black;
    border-radius: 5px;
    background-image: url('../images/Ocean-Board.jpg');
    background-size: cover;
}
#container-p1 .cell,
#container-p2 .cell,
#container-p1 .hit,
#container-p2 .hit,
#container-p1 .boat,
#container-p2 .boat,
#container-p1 .miss,
#container-p2 .miss {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
}

#container-p1 .cell,
#container-p2 .cell {
    color: white;
}

#container-p1 .hit,
#container-p2 .hit {
    background-image: url('../images/Smoke.jpg');
    background-size: cover;
}

#container-p1 .boat,
#container-p2 .boat {
    background-color: darkgray;
}

#container-p1 .miss,
#container-p2 .miss {
    background-color: rgb(109, 109, 244);
}

/*Ship icons on board*/
#overlay-B {
    pointer-events: none;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Battleship2.png');
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

.horz-overlay-B {
    height: 130%;
    transform: rotate(-8deg);
    transform-origin: center;
}

.vert-overlay-B {
    transform: translateY(-10%);
}

#overlay-D {
    pointer-events: none;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Destroyer2.png');
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

.horz-overlay-D {
    transform: rotate(-10deg);
    transform-origin: center;
}

.vert-overlay-D {
    transform: translateY(-10%);
}

#overlay-S {
    pointer-events: none;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/submarine2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.horz-overlay-S {
    transform: rotate(-10deg);
    transform-origin: center;
}

