#container-p1,
#container-p2 {
    display: grid;
    width: 50vh;
    height: 50vh;
    gap: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-image: url('../images/Ocean-Board.jpg');
    background-size: cover;
}
#container-p1 .cell,
#container-p2 .cell,
#container-p1 .hit,
#container-p2 .hit,
#container-p1 .boat,
#container-p2 .boat,
#container-p1 .miss,
#container-p2 .miss {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
}

#container-p1 .cell,
#container-p2 .cell {
    
    
    color: white;
}

#container-p1 .hit,
#container-p2 .hit {
    background-image: url('../images/Smoke.jpg');
    background-size: cover;
}

#container-p1 .boat,
#container-p2 .boat {
    background-color: darkgray;
}

#container-p1 .miss,
#container-p2 .miss {
    background-color: rgb(109, 109, 244);
}
