#placement {
    display:none;
    width: 20vw;
    height: 20vh;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2em;
}

#placement .formLable {
    width: 5em;
    margin-right: 1em;
    padding: 1em;
}

#placement .formInput {
    max-width: 3em;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;

}