/* Ships stat displays*/
/*Outermost ship stat divs*/
.p1Ship, .comShip {
    height: 8vh;
    width: 11vw;
    margin: .45em;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: .25em solid black;
}
.p1Ship {
    background-color: rgb(3, 115, 167);
}
.comShip {
    background-color: rgb(104, 81, 39);
}
.stats {
    display: flex;
}
.life {
    height: 2em;
    width: 2em;
    background-position: center;
    background-size: contain;
    background-image: url('../images/Anchor2.png');
}
.damaged {
    height: 2.8em;
    width: 2.8em;
    background-position: center;
    background-size: contain;
    background-image: url('../images/hit.png')
}
.sunk {
    background-color: rgb(139, 22, 22);
    border: 3px solid orange;
}
/*Div contains life/damage for each ship*/
#p1-stat-C, #p1-stat-B, #p1-stat-D, #p1-stat-S, #p1-stat-P, #com-stat-C, #com-stat-B, #com-stat-D, #com-stat-S, #com-stat-P {
    display: flex;
    justify-content: space-around;
}
/*Outer most div for ship stats*/
#p1-C, #p1-B, #p1-S, #p1-D, #p1-P, #com-C, #com-B, #com-D, #com-S, #com-P   {
    text-align: center;
    color: white;
    font-weight: bolder;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
}
#p1-C, #com-C {
    background-image: url('../images/carrier.png');
    background-size: 75%;
}
#p1-B, #com-B {
    background-image: url('../images/battleship.png');
    background-size: 100%;
}
#p1-S, #com-S {
    background-image: url('../images/submarine.png');
    background-size: 100%;
}
#p1-D, #com-D {
    background-image: url('../images/destroyer.png');
    background-size: 100%;
}
#p1-P, #com-P {
    background-image: url('../images/patrol.png');
    background-size: 50%;
}


